* {
	font-family:'Poppins',sans-serif;
	padding: 0;
	margin: 0;
}
body{
	background-color: #fff;
}
div::-webkit-scrollbar{
	display: none;
}
#lightbox {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.9);
	display: none;
}
#background {
	width: 60%;
	border-radius: 18px;
	background-color:white;
	text-align:center;
	height: 100%;
	max-height: 600px;
	position: absolute;
	overflow: auto;
	left: 50%;
	top:55%;
	transform: translate(-50%, -50%);
}
.logo{
	display: none;
}
.imageSection{
	background-image: url("imagex/R.jpg");
	min-height: 50vh;
}
.section-2{
	display: flex;
	justify-content: center;
	margin-top: 0vh;
}
.navbar {
	position: relative;
	height: 100px;
	background-color:transparent;
}
.navbar input {
	display: none;
}
.navbar label {
	position: absolute;
	top: calc(50% - 25px);
	right: 50px;
	width: 50px;
	height: 50px;
	background-color: white;
	box-shadow: 5px 3px 6px 1px #c6d9ed, -5px -3px 6px 1px #fff;
	cursor: pointer;
	transition: all 0.5s ease-out;
}
.navbar label::before, .navbar label::after {
	content: "";
	position: absolute;
	left: 5px;
	width: 40px;
	height: 3px;
	background-color: #042a41;
	transition: transform 0.3s ease-out, top 0.3s ease-out 0.3s;
}
.navbar label::before {
	top: calc(50% - 10px);
}
.navbar label::after {
	top: calc(50% + 6px);
}
.navbar input:checked + label::before {
	top: calc(50% - 2px);
	transform: rotate(-45deg);
	transition: top 0.3s ease-out, transform 0.3s ease-out 0.3s;
}
.navbar input:checked + label::after {
	top: calc(50% - 2px);
	transform: rotate(45deg);
	transition: top 0.3s ease-out, transform 0.3s ease-out 0.3s;
}
.navbar ul {
	position: relative;
	top: 100px;
	width: 100%;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: 50% 0;
	transition: all 0.5s ease-out;
}
.navbar ul li {
	list-style: none;
	width: 100%;
	height: 66px;
}
.navbar ul li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 66px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	border: 1px solid rgba(198, 217, 237, 0.3);
	text-decoration: none;
	color:black;
	background-color: #fff;
	transition: all 0.3s ease-out;
}
.navbar ul li a:hover {
	color: #33cfd79b;
}
.navbar input:checked ~ ul {
	opacity: 1;
	transform: scaleY(1);
}
.content {
	padding: 30px;
}
h2 {
	margin-top: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 1.5%;
}
.artist {
	display: inline-block;
	width: 100%;
	max-width: 100px;
	margin: 10px auto;
	margin-left: 5px;
	text-align: center;
}
.artist h3 {
	margin: 10px 0 0;
	font-size: 14px;
}
.artist img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}
.img{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	grid-area:c;
	margin-bottom: 5vh;
}
.section-2{
	display: flex;
	justify-content:center ;
}
.section-1{
	display: flex;
	justify-content:center ;
}
.container{
	width: 65%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'a' 'd' 'b' 'c';
	;
	margin-bottom: 4vh;
}
.title{
	font-size: 2em ;
	margin-top: 5vh;
	grid-area: a;
	font-weight: bold;
	color: #fff;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
}
.h2{
	font-weight: 300;
	font-size: 1.4em 
}
.button{
	grid-area: b;
	width: 100px;
	height: 45px;
	margin-top: 5%;
	margin-bottom: 7%;
	font-weight: bold;
	border-radius: 5px;
	text-decoration: none;
	border: none;
	font-size: 15px;
	text-transform: uppercase;
}
.p{
	margin-top: 3%;
	grid-area: d;
	margin-bottom: 1%;
	font-size: 0.9em;
	color: #fff;
	font-weight: 340;
	font-style: normal;
}
.p1{
	margin-top: 3vh;
	grid-area: e;
	font-weight: 320;
	line-height: 1.5;
}
.img1{
	grid-area: f;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	margin-bottom: 3vh;
}
.img2{
	grid-area:h;
	width: 80%;
	margin-top: 3vh;
	margin-left: auto;
	margin-right: auto;
}
.p2{
	grid-area:i;
	font-weight: 320;
	line-height: 1.5;
}
.p-1{
	grid-area:u ;
	font-weight: 330;
	padding-left: 5%;
	margin-top: 15vh;
	line-height: 1.5;
	font-size: 1.1em;
}
.img-1{
	grid-area: v;
	width: 100%;
	max-width:350px;
	margin-left: auto;
	margin-right: auto;
	padding:0px;
	margin-top: 10vh;
}
.title2{
	grid-area: g;
	font-size: 2em;
	font-weight: 100;
}
.section-3{
	display: flex;
	justify-content: center;
	background-color: snow;
}
.container-2{
	width: 80%;
	display: flex;
	justify-content: center;
	display: grid;
	grid-template-areas: 'g g' 'e e' 'f f' 'i i' 'h h' 'u u' 'v v';
	grid-template-columns: 1fr 1fr;
	margin-bottom: 8vh;
	margin-top: 6vh;
   ;
}
.title3{
	grid-area: j;
	margin-bottom: 5vh;
	text-transform: uppercase;
	font-size:2.0em;
	margin-top: 8vh;
   ;
	font-weight: 200;
}
.img3{
	width: 100%;
	max-width: 260px;
}
.wrap{
	display:flex ;
	justify-content: center;
}
.img4{
	width: 100%;
	max-width: 260px;
	margin-left: auto;
	margin-right: auto;
}
.img5{
	width: 100%;
	max-width: 260px;
	margin-left: auto;
	margin-right: auto;
}
.Unity{
	font-weight: 200;
	margin-top:17px ;
	margin-bottom: 10px;
	font-size: 1.1em;
}
.container-3{
	width: 80%;
	display: grid;
	grid-template-areas: 'j j ' 'k k' 'l l' 'm m';
	grid-template-columns: 1fr 1fr;
	margin-bottom: 15vh;
}
.section-4{
	display: flex;
	justify-content: center;
	background-color: gainsboro;
}
.div1{
	grid-area:k ;
	margin-bottom: 30px;
}
.div2{
	grid-area: l;
	margin-bottom: 30px;
}
.div3{
	grid-area: m;
}
.span1{
	text-transform: uppercase;
	font-size: 1.3em;
	letter-spacing: 2.5px;
	font-weight: bolder;
}
.span2{
	text-decoration: none;
	font-size: 1.2em;
	letter-spacing: 2px;
	list-style: none;
	margin-top: 30px;
	margin-bottom: 1vh;
}
.span5{
	margin-bottom: 1vh;
	list-style: none;
	margin-top: 0px;
	font-size: 1.2em;
	letter-spacing: 2px 
}
.p3{
	font-weight: bold;
	font-size: 0.9em;
	line-height: 1.5;
}
.p4{
	font-weight: bold;
	font-size: 0.9em;
	line-height: 1.5;
}
.p5{
	font-weight: bold;
	font-size: 0.9em;
	line-height: 1.5;
}
.button2{
	background-color: black;
	border-radius: 6px;
	width: 65px;
	height: 45px;
	color: white;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 12px;
}
html{
   scroll-behavior:smooth
}
.h3{
	font-weight: 300;
	margin-top: 5vh;
	font-size: 1.6em;
	display: flex;
	justify-content: center;
	margin-bottom: 7vh;
}
.div5{
	display: grid;
	margin-top: 5vh;
}
.p6{
	font-weight: 300;
	line-height:25px;
	margin-left: 7%;
}
.img6{
	width: 100%;
	max-width: 490px;
	margin-bottom: 3vh;
}
.artistimg{
	max-width: 260px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2vh;
}
.message{
	text-align: center;
	font-weight: 300;
	font-size: 0.8em;
	margin-bottom: 1.5vh;
}
.name{
	text-transform:uppercase ;
	font-weight: bold;
	margin-bottom: 1.5vh;
	font-size: 1.0em;
}
.container-5{
	overflow: scroll;
}
.space{
	padding: 20px;
}
#background {
	width: 90%;
	border-radius: 18px;
	background-color:white;
	text-align:center;
	height: 100%;
	max-height: 500px;
	position: absolute;
	overflow: auto;
	left: 50%;
	top:55%;
	transform: translate(-50%, -50%);
}
#link2{
	margin-left:auto;
	margin-right:auto;
	align-items: center;
	width:100%;
	height: 200px;
}
#link{
	height: 152px;
	border-radius:12px;
}
.robot{
	margin-top: 10vh;
	grid-area:ab;
	max-width:500px;
	padding-right:5% ;
	width: 100%;
	margin-left: auto ;
	margin-right: auto;
}
.reason2{
	grid-area: cd;
	margin-left: 5%;
	font-weight: 300;
	margin-top: 15vh;
}
.h9{
	margin-top: 3vh;
	font-size:2.2em ;
	margin-top: 6vh;
	font-weight: 300;
	display: flex;
	justify-content: center;
	margin-bottom: 6vh;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.reason{
	font-weight: 300;
	line-height:25px ;
}
.visual{
	font-weight: 350;
	margin-top:3vh ;
	margin-bottom:3vh ;
	text-align: left;
}
.container-6{
	width: 100%;
}
.span4{
	text-transform: uppercase;
	font-weight: 350;
}
.section-5{
	display: flex;
	justify-content: center;
	background-color: lightgrey;
}
.container-6{
	width: 60%;
	margin-bottom: 8vh;
}
.reason2{
	margin-top: 3vh;
	line-height:25px ;
}
.container-4{
	margin-bottom: 12vh;
}
@media (min-width: 768px) {
	.lightbox{
		display: flex;
		align-items: center;
   }
	#background {
		width: 60%;
		border-radius: 18px;
		background-color:white;
		text-align:center;
		margin-top:3vh;
		height: 100%;
		max-height: 580px;
		position: absolute;
		overflow: auto;
		top: 47%;
		left: 50%;
		transform: translate(-50%, -50%);
   }
	#about{
		scroll-margin-top: 100px;
   }
	#album{
		scroll-margin-top: 100px;
   }
	#artistpart{
		scroll-margin-top: 100px;
   }
	#song{
		scroll-margin-top:100px;
   }
	#impact{
		scroll-margin-top: 150px;
   }
	.h2{
		font-size: 1.6em;
		margin-top: 3vh;
		margin-bottom: 3vh;
   }
	header {
		background-color:transparent;
		position: fixed;
		top:0;
		left: 0;
		padding: 10px;
		width: 100%;
		transition: 0.6s;
		z-index: 10000;
   }
	.logo{
		position: relative;
		margin: 0;
		font-size: 1.8em;
		display: flex;
		justify-content: center;
		text-align: left;
		padding-left: 5%;
		font-weight: bold;
		text-transform: uppercase;
		transition: 0.6s;
		text-decoration: none;
		color: #fff;
		letter-spacing: 0.27em;
   }
	.navbar{
		position: relative;
		display: flex;
		align-items:center ;
		justify-content: space-between;
		background-color:transparent;
   }
	.navbar label {
		display: none;
   }
	.navbar ul li{
		position: relative;
		list-style: none;
		font-size: 1.0em;
		display:flex ;
   }
	.banner{
		position: relative;
		width:100%;
		height: 25vh;
		background: url(bg.jpg);
		background-size:cover ;
   }
	.navbar ul {
		position: static;
		display: flex;
		justify-content: right;
		align-items: center;
		width: 70%;
		max-width: 400px;
		height: 100%;
		margin: 0 auto;
		opacity: 1;
		transform: scaleY(1);
   }
	.navbar ul li a {
		border: none;
		background-color: transparent;
		transition: 0.5s;
		position: relative;
		color: white;
		font-size: 15px;
   }
	header.sticky {
		background-color:white;
   }
	header.sticky ul li a{
		color: black;
   }
	header.sticky .logo{
		color: black;
   }
	.title{
		font-size: 2em ;
		font-style: italic;
		margin-top: 1%;
		grid-area: a;
		font-weight: bold;
		color: #fff;
		display: flex;
		justify-content: center;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 2px;
   }
	.p{
		font-style: italic;
   }
	.img{
		width: 65%;
		max-width: 65%;
   }
	.content {
		padding: 20px;
   }
	h2 {
		margin-top: 0;
   }
	.artist {
		display: inline-block;
		max-width: 150px;
		width: 100%;
		margin: 20px;
		text-align: center;
   }
	.artist img {
		width: 150px;
		height: 150px;
		object-fit: cover;
		border-radius: 50%;
   }
	.container{
		width: 80%;
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-areas: 'a c' 'd c' 'b c' ;
   }
	.imageSection{
		background-image: url("imagex/R.jpg");
		min-height: 50vh;
   }
	.section-2{
		display: flex;
		justify-content: center;
   }
	.section-3{
		display: flex;
		justify-content: center;
   }
	.container-2{
		width: 80%;
		display: grid;
		grid-template-areas: 'g g' 'e f' 'h i' 'u v';
		grid-template-columns: 1fr 1fr;
		margin-bottom: 8vh;
		margin-top: 8vh;
   }
	.p1{
		margin-top: 3vh;
		grid-area: e;
		font-weight: 320;
		padding-left: 5%;
   }
	span:first-letter {
		text-transform: capitalize;
   }
	.img1{
		grid-area: f;
		width: 100%;
		max-width:400px;
		padding-left: 5%;
   }
	.p-1{
		grid-area:u ;
		font-weight: 330;
		padding-left: 5%;
		margin-top: 15vh;
		line-height: 1.5;
		font-size: 1.1em;
   }
	.img-1{
		grid-area: v;
		width: 100%;
		max-width:400px;
		margin-left: auto;
		margin-right: auto;
		padding: 50px;
		margin-top: 10vh;
   }
	.img2{
		grid-area:h;
		width: 100%;
		max-width:500px;
		padding-right: 4%;
		margin-top: 23vh;
   }
	.p2{
		grid-area:i;
		font-weight: 320;
		padding-left: 5%;
		margin-top: 5vh;
   }
	.title2{
		grid-area: g;
		font-size: 2em;
		font-weight: 100;
   }
	.title3{
		grid-area: j;
		text-transform: uppercase;
		font-size:2.0em;
		margin-top: 5vh;
	   ;
   }
	.span3{
		font-weight: 340;
		font-size: 1.25em;
   }
	.img3{
		width: 100%;
		max-width: 300px;
   }
	.img4{
		width: 100%;
		max-width: 300px;
   }
	.img5{
		max-width: 300px;
		width: 100%;
   }
	.p3{
		width: 100%;
		max-width: 320px;
   }
	.p4{
		width: 100%;
		max-width: 320px;
   }
	.p5{
		width: 100%;
		max-width: 320px;
   }
	.container-3{
		width: 72%;
		min-width: 60%;
		margin: 10px;
		margin-bottom:10vh;
		display: grid;
		grid-template-areas: 'j j j' 'k l m';
		grid-template-columns: 1fr 1fr 1fr;
   }
	.section-4{
		display: flex;
		justify-content: center;
   }
	.div1{
		grid-area:k ;
		margin: 11px;
   }
	.div2{
		grid-area: l;
		margin: 11px;
   }
	.div3{
		grid-area: m;
		margin: 11px;
   }
	.container-4{
		width: 72%;
		margin-top: 6vh;
		margin-bottom: 12vh;
   }
	.div5{
		margin-top: 4vh;
		display: grid ;
		grid-template-areas: 'p o';
		grid-template-columns: 1fr 1fr;
   }
	div6{
		grid-area: o;
   }
	.div7{
		grid-area: p;
   }
	.img6{
		margin-left: 30%;
		max-width: 400px;
		width: 100%;
   }
	.div8{
		grid-area: q;
   }
	.div9{
		grid-area:r ;
   }
	.div10{
		grid-area:s ;
		display: flex;
		align-items: center;
   }
	.container-5{
		width: 97%;
		display: grid;
		grid-template-areas: 'r r' 'q s' 't t';
		grid-template-columns: 1fr 1fr;
		margin-top: 5vh;
		overflow-y: scroll;
   }
	.space{
		width: 90%;
		margin-left: 7%;
		display: flex;
		justify-content: center;
		padding: 0px;
   }
	.artistimg{
		max-width: 260px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
   }
	.message{
		font-weight: 300;
		font-size: 1.1em;
		text-align: left;
   }
	.name{
		text-transform:uppercase ;
		font-weight: bold;
		margin-bottom: 3vh;
		font-size: 1.5em;
   }
	.div-1{
		grid-area: t;
   }
	#link{
		width:90%;
		display: flex;
		justify-content: center;
		margin-top: 1px;
		margin-bottom: 2vh;
   }
	.container-6{
		display: grid;
		grid-template-areas: 'x x' 'w y' 'w z' 'ab cd' ;
		grid-template-columns: 1fr 1fr;
		width: 80%;
		margin-bottom: 10vh;
   }
	#link2{
		grid-area: w;
		padding-right: 10%;
		max-width: 480px;
   }
	.h9{
		grid-area: x;
   }
	.visual{
		grid-area: y;
		padding-left: 5%;
   }
	.reason{
		grid-area: z;
		padding-left: 5%;
   }
	.reason2{
		margin-top: 20%;
   }
	.robot{
		margin-top:15vh ;
   }
	#link2{
		margin-top:8vh ;
   }
}
.end{
	display: flex;
	justify-content: center;
	color: #fff;
	font-style: italic;
	letter-spacing: 3px;
	font-weight: 300;
	font-size: 2.7em;
	grid-area: ly;
}
.container-8{
	background-color:black;
	width: 80%;
	margin-bottom: 5vh;
	font-weight: 300;
	font-size: 1.3em;
	display: grid;
	grid-template-areas: "ef ef" "ly ly" "gh gh";
	grid-template-columns: 1fr 1fr;
}
.end2{
	display: flex;
	justify-content: center;
	color: #fff;
	grid-area: gh;
}
.section-6{
	background-color: black;
	display: flex;
	justify-content: center;
}
.endImage{
	margin-top: 5vh;
	margin-bottom: 5vh;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	grid-area: ef;
}
@media (min-width:1000px) {
	.navbar ul {
		position: static;
		display: flex;
		justify-content: right;
		align-items: center;
		width: 90%;
		max-width: 540px;
		height: 100%;
		margin: 0 auto;
		opacity: 1;
		transform: scaleY(1);
   }
	.navbar ul li a {
		border: none;
		background-color: transparent;
		transition: 0.5s;
		position: relative;
		color: white;
		font-size: 17px;
   }
	.logo{
		font-size: 2.2em;
		padding-left: 5%;
   }
	header.sticky {
		padding: 5px 50px;
		background-color:white;
   }
	header{
		padding: 30px;
   }
	.img2{
		margin-top:6vh ;
   }
}